<?xml version="1.0"?>

<launch>

    <rosparam param="robot_description" file="$(find bumperbot_description)/urdf/bumperbot.urdf" command="load"/>
        
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bumperbot_description)/rviz/display.rviz"/>

</launch>